

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

font-family: outfit;
}
html, body{
  height: 100%;
  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar{
  width: 0;
  height: 0;
}

#root{
  min-height: 100vh;
  display: flex;
}

@media (max-width: 768px){
  html, body{
    overflow-y: auto;
  }

  #root{
    min-height: auto;
  }
}
